{% load compress %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="title" content="TLD tester">
    <meta name="description" content="How is your top level domain built?">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://tldtest.net/">
    <meta property="og:title" content="TLD tester">
    <meta property="og:description" content="How is your top level domain built?">
    <meta property="og:image" content="{% static 'images/image.png' %}">
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://tldtest.net/">
    <meta property="twitter:title" content="TLD tester">
    <meta property="twitter:description" content="How is your top level domain built?">
    <meta property="twitter:image" content="{% static 'images/image.png' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="{% static 'images/image.png' %}">

    <title>{% block title %}TLD Tester{% endblock %}</title>

    {% compress css %}
        <link rel="stylesheet" href="{% static 'src/output.css' %}">
    {% endcompress %}

</head>
<body class="bg-gray-800 text-white">
<header>
    <nav class="border-gray-200 bg-gray-900">
        <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
            <a href="{% url 'main' %}" class="flex items-center space-x-3 rtl:space-x-reverse">
                <img src="{% static 'images/image.png' %}" class="h-8" alt="Logo"/>
                <span class="self-center text-2xl font-semibold whitespace-nowrap text-white">TLD-Tester</span>
            </a>
            <button data-collapse-toggle="navbar-default" type="button"
                    class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden focus:outline-none focus:ring-2 dark:text-gray-400 hover:bg-gray-700 focus:ring-gray-600"
                    aria-controls="navbar-default" aria-expanded="false">
                <span class="sr-only">Open main menu</span>
                <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                     viewBox="0 0 17 14">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                          d="M1 1h15M1 7h15M1 13h15"/>
                </svg>
            </button>
            <div class="hidden w-full md:block md:w-auto" id="navbar-default">
                <ul class="font-medium flex flex-col p-4 md:p-0 mt-4 border rounded-lg md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0 bg-gray-800 md:bg-gray-900 border-gray-700">
                    <li>
                        <a href="{% url 'main' %}"
                           class="block py-2 px-3 bg-blue-700 rounded md:bg-transparent md:p-0 text-white md:text-blue-500"
                           aria-current="page">Home</a>
                    </li>
                    <li>
                        <a href="api/"
                           class="block py-2 px-3 rounded md:border-0 md:p-0 text-white md:hover:text-blue-500 hover:bg-gray-700 hover:text-white md:hover:bg-transparent"
                           aria-current="page">API</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>



{% block content %}
{% endblock content %}


<footer class="rounded-lg shadow m-4 bg-gray-800">
    <div class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between">
      <span class="text-sm sm:text-center text-gray-400">Made with ❤️ under GPLv3
    </span>
        <ul class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-400 sm:mt-0">
            <li>
                <a href="https://github.com/altf4arnold/tldtest.net" class="hover:underline me-4 md:me-6">Github</a>
            </li>
            <li>
                <a href="https://raw.githubusercontent.com/altf4arnold/tldtest.net/master/LICENSE?token=GHSAT0AAAAAACJMTGHPQI5UOLAA4QVYVAFSZO4NM6A"
                   class="hover:underline me-4 md:me-6">GPL</a>
            </li>
            <li>
                <a href="https://github.com/altf4arnold/tldtest.net/issues/new" class="hover:underline">New Issue?</a>
            </li>
        </ul>
    </div>
</footer>
</body>
</html>